body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #987eff, #a89aff);
  height: 100vh;
  margin: 0;
}
.App {
  width: 900px;
  height: 500px;
  background-color: white;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 5px;
}
p {
  padding-left: 20px;
}
.todo-container {
  background-color: #a89aff;
  border-radius: 18px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:first baseline;
  
}
.counter-container {
  margin-top: 20px;
  height: 100px;
  width: 82%;
}
