body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #3AA6B9, #2B7681);
  margin: 0;
}
.App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 300px;
}
.todo-form {
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.2); /* Fondo blanco semi-transparente */
  border-radius: 50px; /* Bordes redondeados */
  backdrop-filter: blur(10px); /* Difumina el fondo detrás del contenedor */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Sombra suave para dar efecto de flotación */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Borde sutil transparente */
}
.todo-container {
  width: 500px;
  height: 580px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.2); /* Fondo blanco semi-transparente */
  border-radius: 50px; /* Bordes redondeados */
  backdrop-filter: blur(10px); /* Difumina el fondo detrás del contenedor */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Sombra suave para dar efecto de flotación */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Borde sutil transparente */
  padding: 10px;
}